.center {
    margin: auto;
    width: 50%;
    /* border: 3px solid green; */
    padding: 10px;
}

.container {
    display: inline-flex;
}

.options {
    margin-left: 10px;
    float: left;
    spacing: 5px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.option {
    margin-bottom: 10px;
}

.clock {
    border: 3px solid green;
}
